table{
    width:300px;
    border-collapse: collapse;
}
td, th{
    padding: 3px;
    border: 1px solid white;
}
td.c1{
    min-height: 30px;
    min-width: 65px;
    background: #d4e7f5;
}
th.c2, th.c3, td.c2{
    color: white;
    background: #a2cee9;
}
th.c2, td.c2{
    min-height: 30px;
    min-width: 120px;
    text-align: left;
    padding: 0 0 0 15px;
}